@import "tailwindcss";

@theme {
  --color-imdb-yellow: #F5C518;
  --color-imdb-dark: #121212;
  --color-imdb-darker: #000000;
  --color-imdb-border: #2b2b2b;
}

@layer base {
  body {
    @apply bg-imdb-dark text-white font-sans m-0;
  }
}
